<launch>

 <node name="laser_to_pointcloud" pkg="laser_to_pointcloud" type="laser_to_pointcloud_accumulate.py" output="screen" />

<!--
 <node name="odom_to_map_tf_broadcaster" pkg="laser_to_pointcloud" type="broadcast_map_to_odom.py" />
 <node pkg="tf" type="static_transform_publisher" name="map_to_odom" args="0 0 0 0 0 0.7071 0.7071 map odom 100"/>
-->

<node pkg="tf" type="static_transform_publisher" name="map_to_odom" args="0 0 0 0 0 0 map odom 100"/>

 
 
</launch>

